.Header {
  height: var(--header-height);
  width: calc(100vw - var(--sidebar-width) - var(--header-offset) * 2);
  position: absolute;
  top: 1rem;
  left: calc(var(--sidebar-width) + var(--header-offset));
  display: flex;
  align-items: center;
  z-index: 4;
  background-color: #ffffff00;
  position: fixed;
  box-shadow: var(--shadow-7);
  border-radius: 0.5rem;
  background-color: #fff;
}

.Header .left {
  display: flex;
  flex: 1;
  max-width: 45%;
}

.Header .divider {
  width: 0.1rem;
  margin-top: 0.2rem;
  height: 2.2rem;
  background-color: var(--gray-1);
}

.HeaderEl {
  display: flex;
  font-weight: 500;
  flex: 1;
  justify-content: center;
  color: var(--gray-3);
}

.HeaderEl i {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  color: var(--orange-3);
}

.HeaderEl .title {
  font-size: 0.9rem;
  white-space: nowrap;
}

.HeaderEl .value {
  font-size: 0.85rem;
}

.Header .right {
  margin: 0rem 2rem 0rem auto;
  display: flex;
  align-items: center;
}

.Header .ChatBtn {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.Header .NotificationsBtn {
  margin-right: 1rem;
}

.Header .userInfo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.Header .userInfo .ProfileImage {
  width: 3.1rem;
  height: 3.1rem;
  margin-left: 1.5rem;
}

.Header .userInfo .name {
  font-size: 1.2rem;
  font-weight: 700;
  height: 1.5rem;
}

.Header .userInfo .email {
  color: var(--gray-3);
  font-size: 0.8rem;
}

button#tryExtensionBtn {
  font-size: 1.3rem;
  display: flex;
  gap: 1rem;
  text-decoration: underline;
  margin-right: 2rem;
}
